<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Spurs Stadium Camera {{ camera }}</title>
  <meta name="description" content="Spurs Stadium Camera {{ camera }}">
  <meta name="author" content="LS80">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
  <figure class="figure">
    <figcaption class="figure-caption h4">Camera {{ camera }} ({{ image_time }})</figcaption>
    <img class="figure-img" src="{{ image_url }}">
  </figure>
</body>
</html>
